.inputmodal{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    border-radius: 5px;
    border: 1px rgb(238, 238, 238) solid;
    outline: none;
    padding: 0 5px;
    font-size: 1em;
    font-family: 'arial';
}
textarea{
    overflow: auto;
    width: 80%;
    border-radius: 5px;
    border: 1px rgb(238, 238, 238) solid;
    outline: none;
    padding: 10px 5px;
    font-size: 1em;
    font-family: 'arial';
    resize: none;
}
.numbers{
    width: 83%;
    display: flex;
    gap: 5px;
    margin: 0 auto;
    
}
