*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f9f9f9;
}
#icone {
	cursor: pointer;
	padding: 20px;
	position: absolute;
	z-index: 99;
	font-size: 30px;
	color: #fff;
	font-weight: bolder;
	top:-15px;
	
}

#check{
	display: none;
	
}

.barra{
	background-color:#9e785c;
	height: 100%;
	width: 300px;
	position: absolute;
	left: -300px;
	transition: all .2s linear;
	z-index: 5;
	top: 0;
	
}
.barra i{
	padding: 0 10px;
}

.barra .link{
	list-style: none;
	

}

nav{
	width: 100%;
	position: absolute;
	top: 60px;
	
}
nav a{
	text-decoration: none;
}

.link{
	color: #f4f4f9;
	font-size: 12pt;
	font-family:'arial' ;
	padding: 20px;
	transition:  all .2s linear;
	opacity: 0;
	margin-top: 200px;
}
.link:hover{
	background-color: #592c0c;
}

#check:checked ~ .barra nav a .link{
	opacity: 1;
	margin-top: 0;
	transition-delay: .2s;
}
#check:checked ~ .barra{
	transform: translateX(300px);

}

#dashboard{
	position: absolute;
	right: 10px;
	margin-top:10px ;
	width: 100%;
	
	

}
#addSprint{
	position: fixed;
	right: 20px;
	bottom: 20px;
	
}
header{
	position: relative;
	background-color: #592c0c;
	width: 100%;
	display: flex;
	justify-content:space-between;
	gap: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.052);
	padding: 10px 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	z-index: 9;
	text-transform: uppercase;
}
header i{
	color:#fff; 
	display: inline;
	font-size: 1.3em;
	padding: 0 20px;
}
#nome{
	width: max-content;
	color:#fff;
	font-family: arial;
	font-size: 1.2em;
	padding: 2px 0;
	font-weight: lighter;
	margin: 0 60px;
	text-transform: uppercase;
	
	
}
.sair{
	color: #fff;
	font-size: 4em;
	position:absolute;
	bottom: 20px;
	display: block;
	text-decoration: none;
	left:120px;
	border-radius: 10px;

}
.sair i{
	display: block;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.sair p{
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.swal-modal {
    text-align: center;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
}